calculator/src/main/mule/kishore-sir-session-1.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="kishore-sir-session-1-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="kishore-sir-session-1-config" api="kishore-sir-session-1.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="kishore-sir-session-1-main">
        <http:listener config-ref="kishore-sir-session-1-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="kishore-sir-session-1-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="kishore-sir-session-1-console">
        <http:listener config-ref="kishore-sir-session-1-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="kishore-sir-session-1-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\division:kishore-sir-session-1-config">
		<set-variable value="#[attributes.queryparams.number1]" doc:name="Set Variable" doc:id="9dce4168-02a5-47f8-abd8-a16e5c8b0dfe" variableName="number1"/>
		<set-variable value="#[attributes.queryparams.number2]" doc:name="Set Variable" doc:id="b8d44486-d915-47f4-b723-46bf714df0ee" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="0bf1dfe8-fbeb-4928-90b3-6d568168ba7a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"division" : vars.number1 / vars.number2
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="delete:\multiply:kishore-sir-session-1-config">
		<set-variable value="#[attributes.queryparams.number1]" doc:name="Set Variable" doc:id="12b9ae42-8bac-42ac-acb6-9a0aa932113c" variableName="number1"/>
		<set-variable value="#[attributes.queryparams.number2]" doc:name="Set Variable" doc:id="58550c2f-3c51-4481-8e09-020449320147" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="0c5620b7-b7c9-463a-921e-d1b335a77d3d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"multiplication" : vars.number1 x vars.number2
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\addition:kishore-sir-session-1-config">
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="4a5fcfd1-b62c-4635-9f36-b7ff71275f92" variableName="number 1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="46389a38-8bec-4304-aa65-65f99afed4e8" variableName="number 2"/>
		<ee:transform doc:name="Transform Message" doc:id="98345d5b-885a-4875-a98b-5b2b2500f3f0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

 {
	"addition" : vars."number 1" + vars."number 2"
 }
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="96756f73-3f37-49a1-a0f9-6253cfa0d397" message="#[payload]"/>
    </flow>
    <flow name="post:\subtraction:kishore-sir-session-1-config">
		<set-variable value="#[attributes.queryparams.number1]" doc:name="Set Variable" doc:id="00e705e2-2a5e-402c-bbf9-5133b79f8398" variableName="number1"/>
		<set-variable value="#[attributes.queryparams.number2]" doc:name="Set Variable" doc:id="73f687ed-7bed-44df-bcbb-183ce52448b3" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="a8e8df9b-f8d0-4c20-8ac7-b500a91cf85f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"subtraction" : vars.number1 - vars.number2
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="014d7966-9f4f-4eec-ab0b-01369ba4a56d" message="#[payload]"/>
    </flow>
</mule>
